<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - AgroConecta</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="login-container">
    <!-- Columna izquierda -->
    <div class="login-left">
      <img src="assets/images/agroconecta.png" alt="Login visual" class="login-image" />
      <h2>Bienvenido a Agroconecta</h2>
      <p>Inicia sesión para continuar</p>
      <app-button-providers [isLogin]="true"></app-button-providers>

      <span class="small-text log-in-redirect">
        ¿No tienes una cuenta aún?
        <a routerLink="/auth/sign-up">Regístrate</a>
      </span>
      <p class="terms">Al continuar, aceptas nuestros términos de servicio</p>
    </div>

    <!-- Columna derecha -->
    <div class="login-right">
      <div class="overlay">
        <h2>Tu plataforma de aprendizaje</h2>
        <p>Inicia sesión de forma segura y rápida con tus cuentas favoritas</p>
      </div>
    </div>
  </div>
</body>

</html>