<div class="admin-dashboard">
  <aside class="sidebar">
    <h4>Panel de Administración</h4>
    <nav>
      <ul>
        <li><button (click)="navigateTo('users')">Gestión de Usuarios</button></li>
        <li><button (click)="navigateTo('courses')">Gestión de Cursos</button></li>
        <li><button (click)="navigateTo('man-providers')">Gestión de Proveedores</button></li>
        <li><button (click)="navigateTo('newsManager')">Gestion de Noticias</button></li>
      </ul>
    </nav>
  </aside>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
