<app-home></app-home>
<body>
  
  <div class="container">
    <h1>Ingreso de Productos</h1>
    <form id="productoForm" class="form-style">
      <div class="form-group">
        <label for="nombre">Nombre del Producto:</label>
        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingrese el nombre del producto" #producto required>
      </div>
      <div class="form-group">
        <label for="stock">Stock del Producto:</label>
        <input type="text" class="form-control" id="stock" name="stock" placeholder="Ingrese el stock del producto" #stock required>
      </div>
      <div class="form-group">
        <label for="prov">Proveedor del Producto:</label>
        <input type="text" class="form-control" id="prov" name="prov" placeholder="Ingrese el proveedor del producto" #idprov required>
      </div>
      <button class="btn btn-primary">Agregar Producto</button>
    </form>
  </div>
  
  <div class="container">
    <h2>Lista de Productos</h2>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Stock</th>
          <th>Proveedor</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
