<app-home></app-home>
<body>
 <div class="recibo mt-3">
        <div class="titulo">Recibo de Venta</div>
        <form action="">
            <div style="position: fixed; top: 0; right: 0; height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center;">
                <form>
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Buscar" aria-label="Buscar" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button">Buscar</button>
                    </div>
                  </div>
                </form>
              </div>
                          
        </form>
                <div class="detalle">
                    <div>
                        <label>Numero de factura: </label>
                    </div>
                    <div>
                        <label for="">Codigo de producto: </label>
                    </div>
                    <div>
                        <label for="">Descripcion: </label>
                    </div>
                    <div>
                        <label for="">Cantidad: </label>
                    </div>
                    <div>
                        <label for="">Precio Unitario: </label>
                    </div>
                    <div>
                        <label for="">Total: </label>
                    </div>
                </div>
    </div>

</body>