:host {
  display: block;
  min-height: 100vh;
  background-image: url('assets/images/agroconecta.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}
