<mat-toolbar color="accent" class="mt-3">
    <span class="mat-toolbar-button-spacing">Home</span>
    <mat-button-toggle-group>
      <button mat-flat-button (click)="redirectToVenta()" class="mat-toolbar-button-spacing">Iniciar Proceso Venta</button>
      <button mat-flat-button (click)="redirectToProducto()" class="mat-toolbar-button-spacing">Ingreso de Productos</button>
      <button mat-flat-button (click)="redirectTo('TicketController/index')" class="mat-toolbar-button-spacing">Reimpresion de ticket</button>
      <button mat-flat-button (click)="redirectTo('proveedor/index')" class="mat-toolbar-button-spacing">Ingreso de Proveedores y Pedido</button>
      <button mat-flat-button (click)="redirectTo('pedidos/index')" class="mat-toolbar-button-spacing">Ingreso de Pedidos de Compras</button>
    </mat-button-toggle-group>
    <button mat-flat-button (click)="logOut()" class="mat-toolbar-button-spacing">Log out</button>
  </mat-toolbar>
