<mat-toolbar color="accent">
    <div class="logo">
      <!-- Logotipo conceptual: Placeholder de imagen con referencia a una hoja -->
      <img src="assets/images/agroconecta.png" alt="Logotipo AgroConecta" (click)="goHome()"style="cursor:pointer;">
    <!--<span class="spacer">AgroConecta</span>-->
    <span class="spacer" (click)="goHome()" style="cursor:pointer;">AgroConecta</span>
    </div>
    <div class="toolbar-buttons">
        <mat-button-toggle-group>
      <button mat-flat-button (click)="redirectToForos()" class="mat-toolbar-button-spacing">Foros</button>
      <button mat-flat-button (click)="redirectToCursos()" class="mat-toolbar-button-spacing">Ingreso de Cursos</button>
       </mat-button-toggle-group>
       <button mat-flat-button (click)="logOut()" class="mat-toolbar-button-spacing">Log out</button>
      </div>
  </mat-toolbar>

      